.heading{
  font-size: 30px;
  text-align: center;
}


.cardContainer{
 width: 30%;
 margin-left: 35%;
 background-color: rgb(219, 219, 219);
 height: 100px;
}

.kohler{
  font-size: 80px;
  text-align: center;
  cursor: pointer;
}